@model Y.IssueTracker.Web.Models.Comment.CreateCommentViewModel

@{
    ViewData["Title"] = "Create Comment";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="card mb-3">
    <div class="card-body">
        <form asp-controller="Comment" asp-action="Create" method="post">
            @Html.HiddenFor(x => x.IssueId)

            <div class="mb-3 row">
                <label asp-for="Text" class="col-sm-2 col-form-label"></label>

                <div class="col-sm-10">
                    <textarea asp-for="Text" rows="8" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Comment</button>
            <a asp-area="" asp-controller="Issue" asp-action="View" asp-route-id="@Model.IssueId" class="btn btn-link">Cancel</a>
        </form>
    </div>
</div>
